* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    gap: 20px;
    width: 75%;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 5px;
}

.submitButton {
    width: 75px;
    height: 20px;
    background-color: #266CA9;
    color: white;
    border: none;
    border-radius: 10px;
}

.smallButton {
    width: 65.625px;
    height: 17.5px;
    background-color: #5F84A2;
    color: white;
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
}

.interactionButton {
    display: inline-block;
    cursor: pointer;
    color: #266CA9;
    background-color: white;
    font-size: 30px;
    border: none;
}

.header {
    color: #194569;

}

.clickable-form {
    border: none;
    background-color: #f8f9fa;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

.clickable-form:hover {
    background-color: #e2e6ea;
}

.food {
    width: 80%;
    background-color: #f8f9fa;
    border-radius: 17.5px;
    padding: 7.5px;
    height: auto; 
    flex-direction: row;
    justify-content: space-between;
}