
/* Sidebar Styles */

.sidebar {
    height: 100%;
    width: 250px;
    background-color: #333;
    position: fixed;
    left: -250px;
    /*transition: left 0.3s ease-in-out;*/
    padding-top: 60px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #333;
    transition: 0.3s ease-in-out;
}


/*Toggle Styles*/

.toggle {
    position: absolute;
    z-index: 100;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}